.description-box{
  background-color: #85A0F91A;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  padding: 0 18px; /* slightly reduced top padding */
  margin-top: -4.5vh;
  font-size: 14px;
  color: #333;
  flex-grow: 1;
  overflow-y: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  line-height: 1; /* improved readability */
  /* Add Flexbox to stack children (AiActivityPanel) vertically */
  display: flex;
  flex-direction: column; 
  /* IMPORTANT: Set a fixed height or max-height for the scrolling to work */
  /* Or use max-height: 70vh; for a dynamic height */
}

/* .description-box h3, */
.description-box h4,
.description-box h6, 
.description-box p{ 
  margin: 12px; /* reduced margin for better spacing */
  padding: 0;
}

.description-box h4,
.description-box p{
  margin-top: 10px;
  color: #000048;
  font-family: 'Courier New', Courier, monospace;
  /* margin-bottom: 6px; */
}

.agent-description{
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 700;
  color: #000048; /* deep navy */
  margin-bottom: 10px;
  font-family: roboto;
}

.progress-container {
  width: 97%;
  height: 7px;
  background-color: #9f9292ee;
  border-radius: 4px;
  /* border: 2px solid #ccc; */
  overflow: hidden;
  position: relative;
}
 
.progress-bar {
  height: 100%;
     background-color: rgb(9, 244, 29);
  /* padding: 0.5px 1px; */
  /* transition: width 1s ease-in-out; */
  transition: all 0.5s ease;
  position: relative;

}

.progress-text {
  position: absolute;
  right: 5px; /* small padding from the edge of the bar */
  top: 50%;
  transform: translateY(-50%);
  color: rgb(61, 68, 69);
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}

.logs-container{
  border: 1px solid #8b909a;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
  background-color: #e6e9ec;
  border-radius: 5px;
  margin-top: 10px;
}

.text{
  /* color: #061f07; */
  /* margin-left: 25px; */
  font-weight: 500;
}

.status-buttons {
  display: flex;
  gap: 16px;
  margin-top: 10px;
}
 
.status-buttons label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
}

 